<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title"> Consultation</h5>
        </div>
        <div class="card-body">
          <form #formulaire="ngForm">
            <div class="row">
              <div class="col-md-4 pr-1">

              </div>


              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label >date viste </label>
                  <input   type="date" class="form-control" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nom Patient</label>
                  <input type="text" class="form-control"  >
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Maladie </label>
                  <input type="textarea" class="form-control"  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <input type="textarea" class="form-control"  >
                </div>
              </div>
            </div>

            <div class="text-right">
              <button [disabled]="formulaire.invalid"

              (click)="addConsultation(formulaire)" class="btn btn-primary" id="btn"> Enregistrer </button>
            </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
             Id Consultation
            </th>
            <th>
              Date Viste
            </th>
            <th>
             Nom
            </th>
            <th>
           Prénom
            </th>

            <th>
            Description
            </th>
            <th>
            Action
            </th>

          </thead>
          <tbody>
            <tr>
              <td>
              01235
              </td>
              <td>
                14-04-2021
              </td>
              <td>
                kouki
              </td>
              <td >
                siwar
              </td>
              <td>
               sympthôme grippe
              </td>
              <td>
                <button class="btn primary" id="update"> Modifier </button>
               </td>

            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
</div>
</div>

  </div>
</div>
