<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Formulaire de satisfcation </h5>
        </div>
        <div class="card-body">
          <form #formulaire="ngForm">
            <div class="row">
              <div class="col-md-4 pr-1">

              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Patient </label>
                  <input type="text" class="form-control"  >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="email">Consultater</label>
                  <input name="email" id="email" type="email" class="form-control" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>satisfcation</label>
                  <input type="text" class="form-control"  >
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>description</label>
                  <input type="text" class="form-control"  >
                </div>
              </div>
            </div>







           <button  [disabled]="formulaire.invalid"

           (click)="addFormulaire(formulaire)" class="btn btn-danger" > Enregistrer </button>
          </form>
