<div class="col-md-6">
  <div class="card card-user">
    <div class="image">
      <img src="../assets/img/bg5.jpg" alt="...">
    </div>
    <div class="card-body">
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src="../assets/img/profil.jpg" alt="...">
          <h5 class="title">Kouki Siwar</h5>
        </a>
        <p class="description">
         L'assistante Kouki Siwar
        </p>
      </div>
      <p class="description text-center">

      </p>
    </div>
